/* .page {
    background-color: var(--indigo-300);
    border: solid black 1px;
    border-radius: 3px;
    cursor: pointer;
}

.pageFocus {
    
    border: #ffff;
    background-color: var(--indigo-500);
    
} */
.page {
    width: 2em;
    height: 2em;
    background-color: var(--indigo-200);
    margin-right: 0.5em;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 10px var(--indigo-500);
    }
}