<div class="tabRecursoContainer">

    <p-accordion id="accordion-datos-recurso">
        <p-accordionTab id="filtro-datos-recurso" [(selected)]="filterAccordion">
            <ng-template pTemplate="header">
                Filtros
            </ng-template>
            
            <filtro-datos-recurso></filtro-datos-recurso>

            <div class="p-d-flex p-jc-center botonBuscar">
                <p-button (click)="findDatosRecursos()" type="button" label="Buscar" styleClass="p-button-info"></p-button>
            </div>

        </p-accordionTab>
    </p-accordion>


    <tabla-datos-recurso #tablaDatosRecursos></tabla-datos-recurso>
    
    <div class="p-mt-4">
        <button pButton pRipple type="button" label="Exportar selección" class="p-button-success"></button>
        <button pButton pRipple type="button" label="Exportar completo" class="p-button-success" style="margin-left: 3em;"></button>
    </div>

</div>