:host ::ng-deep .p-datatable {
    border: black 1px solid;
    .p-datatable-thead > tr > th {
        background-color: var(--indigo-300);
        color: #ffff;
    }
    .p-sortable-column .p-sortable-column-icon{
        color: #ffff;
    }
    .p-paginator-bottom {
        color: black;
        background-color: #ffffff;
    }
    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
        background-color: var(--indigo-400);
        color: white;
    }
}

.pointer {
    cursor: pointer;
}
.pointer:hover {
    cursor: pointer;
    color: var(--indigo-400);
}