.menu-info {
    margin: 1px;
    padding: 0.5em 1em;
    border: black solid 1px;
    border-radius: 3px;
    background-color: var(--indigo-300);
    font-size: 13px;
}

.paddingNone {
    padding: 0px;
}

.buttonPower {
    background-color: black;
}