.depContainer {
    padding: 5px;
    overflow: scroll;
    width: 60%;
    height: 35vh;
    border: black solid 1px;
    border-radius: 3px;
    background-color: var(--indigo-300);
}

.identacion {
    margin-left: 1em;
}

.marginBottom1 {
    margin-bottom: 0.5em;
}