
.datosPerContainer {
    padding: 0.5em;
}

.avatarContainer {
    width: 16%;
}

.menu-info {
    margin: 1px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    border: black solid 1px;
    border-radius: 3px;
    background-color: var(--indigo-300);
    font-size: 13px;
    margin-bottom: 3em;
}

.imageContainer {
    width: 80%;
    margin: auto;
}

.imageUser{
    width: 100%;
    background-color: white;
    border: black solid 1px;
    border-radius: 3px;
}

.buttonArrow {
    height: 100%;
    margin-left: 0.5em;
    color: black;
}

.buttonArrow:hover {
    color: black !important;
}

.blockInfoMenu{
    margin-left: 1em;
    width: 97%;
}

.buttonPower {
    background-color: black;
}

:host ::ng-deep .p-tabview-panels{
    background-color: var(--indigo-300);
}
