.page {
    width: 2em;
    height: 2em;
    background-color: var(--indigo-200);
    margin-right: 0.5em;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 10px var(--indigo-500);
    }

}

.pageFocus {
    background-color: var(--indigo-400);
    color: #ffff;
}